.course-container{
    display: inline-flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 80px;
    padding: 10px;
    width: 350px;
    
}

.course-card{
    width: 300px;
    margin: 40px 40px;
    /* margin-left: 60px; */
    background-color: rgb(255, 255, 255);
    /* background-color: #6a92b3; */
    align-items: center;
    text-align: center;

}
.course-image{
    margin: 15px 10px;
    margin-bottom: 0%;
}

.course-name{
    text-align: center;
    font-size: large;
    font-weight: bolder;
   
}
.course-description{
    padding: 5px 10px;
    font-size: 14px;
    height: 60px;
    width: 300px;
}

.details{
    display: flex;
    text-align: center;
    margin-bottom: 7px;
    flex-direction: row;
    justify-content: space-evenly;
}
.course-type{
    font-weight: bold;
    margin-left: 10px;
}
.course-price{
    font-weight: bold;
    margin-left: 35px;
}
.course-buttons{
    display: flex;
    padding: 0px 10px;
}
.btn{
    width: 140px;
    height: 35px;
    margin: 0px 2px;
   
}
.btn-buy{
    background-color: rgba(233, 207, 207, 0.596);
    border-radius: 3px;
}
.btn-show{
    background-color: rgba(206, 236, 215, 0.651);
    border-radius: 3px;

}
