input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #fff;
    padding: 40px;
   
    
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row {
    content: "";
    clear: both;
    justify-content: center;
  }
  .apphelp{
    margin: 0px 25px;
    display: flex;
    margin-bottom: 30px;
    justify-content: flex-end;
  }
  .helpbutton{
    background-color: rgb(150, 212, 228);
    width: 80px;
  }