<div class="container">
    <h2>New in Tech Courses</h2>
    <div class="more-products">
        <app-newcoursesdetails>
        <h4 class="title">New in AI</h4>
        <button class="btn btn-more">Show more in AI</button>
    </app-newcoursesdetails>
    <app-newcoursesdetails>
        <h4 class="title">New in Devops</h4>
        <button class="btn btn-more">Show more in Devops</button>
    </app-newcoursesdetails>
    <app-newcoursesdetails>
        <h4 class="title">New in Networking</h4>
        <button class="btn btn-more">Show more in Networking</button>
    </app-newcoursesdetails>
    <app-newcoursesdetails>
        <h4 class="title">New in Automation</h4>
        <button class="btn btn-more">Show more in Automation</button>
    </app-newcoursesdetails>
    </div>
</div>