
  
  .container {
    display: flex;
  }
  
  .details-header {
    /* margin-right: 20px; */
    padding-right: 20px;
    
  }
  
  .details-body {
    flex: 1;
    padding-left: 10px;
    padding-right: 20px;
  }
  
  .dialog-actions {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  mat-icon-button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  .mastercontainer{
    background-color: rgb(196, 181, 181);

  }